<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <title>SendIT - Home</title>
 </head>
<body>
	<div class="header">
		<p id="sendit">SendIT</p>
		<nav>
			<a href="index.html">Home</a>
			<a href="sign_in.html">Log In</a> 
			<a id="sign" href="sign_up.html">Create an account</a>
		</nav>
 
		<div>
			<div class="home-image">
				<img src="../../static/images/parcel4.jpg"/>
			</div>
			<div class="home-info">
				<p class="info-title">SendIT is a courier service that helps users deliver parcels to different destinations. </p>
				<p class="info-title">SendIT provides courier quotes based on weight categories</p>
				<p class="info-title">Benefit from the best services on the market, with our quick and safe deliveries and unbeatable prices.
				Get value for your money every single time! 
				</p>
				<p class="info-title">Orders are priced starting from a base price of UGX (Uganda Shillings) 3000</p>
			</div>
		</div>
	
	</div>
	  
</body>

</html>