<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <script src="../../static/script.js"></script>
  <title>SendIT - Home</title>
 </head>
<body>
	<div class="header">
		<p id="sendit">SendIT</p>
		<nav>
			<a href="index.html">Home</a>
			<a href="profile.html">Profile</a>
			<a id="sign" href="sign_in.html">Log In</a>
		</nav>
 
		<div>
			<div class="home-image">
				<img src="../../static/images/parcel4.jpg"/>
			</div>
			<div class="home-info">
				<p>Information about SendIT Information about SendIT Information about SendIT Information about SendIT Information about SendIT Information about SendIT
				Information about SendIT Information about SendIT Information about SendIT Information about SendIT Information about SendIT 
				Information about SendIT Information about SendIT Information about SendIT Information about SendIT Information about SendIT Information about SendIT</p>
			</div>
		</div>
	
	</div>
	  
</body>

</html>