<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <script src="../../static/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGX0Fav5vxKwJ4vJLI1TTKSmMEgDG54U&libraries=places&callback=createMap"></script>
  <title>SendIT - Map</title>
 </head>
<body>
	<div id="map"></div>
	<script>createMap();</script>
	<div class="map-buttons">
		<table>
		<tr>
			<td><input type="text" id="map-pickup"></td>
			<td><button type="button" class="submit-button">Set Pickup Location</button></td>
			<td><input type="text" id="map-dest" ></td>
			<td><button type="button" class="submit-button">Set Destination</button></td>
			<td></td>
			<td><button type="button" class="submit-button" id="map-confirm" onclick="enterLocations()">Confirm</button></td>
		</tr>
		</table>
	</div>
	  
</body>

</html>