<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <script src="../../static/profile.js"></script>
  <script src="../../static/map.js"></script> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGX0Fav5vxKwJ4vJLI1TTKSmMEgDG54U&libraries=places&callback=createMap"></script>
  <title>SendIT - Parcel</title>
 </head>
<body onload="getOneParcel()">
	<div class="header">
		<p id="sendit">SendIT</p>
		<nav>
			<a href="index.html">Home</a>
			<a href="sign_in.html" onclick="logOut()">Log Out</a>
		</nav>	
	</div>

	<div class="flex-container-parcel">
		<div class="one-parcel" id="one-parcel">
			<h4>Parcel details</h4>
		</div>
		<div class="one-parcel-map" id="map">	
			<script>createMap();</script>
		</div>
	</div>
	
	<!-- Modal content -->
	<div id="myModal" class="modal">
	<div class="modal-content">
	  <div class="modal-header">
		<br>
		<span class="close">&times;</span>
	  </div>
	  <div class="modal-body" id="modal-body">
	  </div>
	  <div class="modal-footer">
	  <br>
	  </div>
	</div>
	</div>
		
</body>

</html>