<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <script src="../../static/profile.js"></script>
  <script src="../../static/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGX0Fav5vxKwJ4vJLI1TTKSmMEgDG54U&libraries=places&callback=createMap"></script>
  <title>SendIT - Profile</title>
 </head>
<body onload="showUserInfo()">
	<script>checkIfLoggedIn();</script>
	<div class="header">
		<p id="sendit">SendIT</p>
		<nav>
			<a href="index.html">Home</a>
			<a href="sign_in.html" onclick="logOut()">Log Out</a>
			<div class="nav-right"> 
				<input type="search" id="search-box" placeholder="Search for a parcel by id">
				<i class="fas fa-search" id="search-icon" onclick="searchForParcel()"></i>
			<div>
		</nav>	
	</div>

	<div class="flex-container-profile">
		<div class="profile-details">
			<h3 class="profile-title">Profile</h3>
			<div class="profile-image">
				<img src="../../static/images/avi2.png" class="profile-image">
			</div>
			<h5 id="uname">Username</h5>
			<h5 id="email">Email</h5>
			<h5 id="phone_number">Phone number</h5>
			<br>
			<h3>Orders</h3>
			<div class="parcels-order-info">
				<h4 id="New" onclick="showCreateForm()">Create new order</h4>
				<h5 id="All" onclick="getUserParcels(`All`)">All orders</h5>
				<h5 id="Pending" onclick="getUserParcels(`Pending`)">Pending</h5>
				<h5 id="In Transit" onclick="getUserParcels(`In Transit`)">In transit</h5>
				<h5 id="Delivered" onclick="getUserParcels(`Delivered`)">Delivered</h5>
				<h5 id="Cancelled" onclick="getUserParcels(`Cancelled`)">Cancelled</h5>
			</div>
		</div>
		
		<div class="parcels-details" id="all-parcels">
		</div>
					
	</div>
	
	<div id="parcel-pop-up">
		<div id="pop-up-info">
		</div>
		<button class="submit-button" id="close" onclick="hideParcelPopUp()">Close</button> 
	</div>
	
	<!-- Modal content -->
	<div id="myModal" class="modal">
	<div class="modal-content">
	  <div class="modal-header">
		<br>
		<span class="close">&times;</span>
	  </div>
	  <div class="modal-body" id="modal-body">
	  </div>
	  <div class="modal-footer">
	  <br>
	  </div>
	</div>
	</div>
  
</body>

</html>