<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <script src="../../static/admin.js"></script>
  <title>SendIT - Admin</title>
</head>
<body>
	<p id="sendit-admin">SendIT - Admin</p>
	<div class="sidenav">
		<input type="text" class="nav-right" value="Search for a parcel">
		<i class="fas fa-search"></i>
		<p onclick=" getAllParcels()">Parcels</p>
		<p onclick="getAllUsers()">Users</p>
		<p onclick="logOut()">Log Out</p>
	</div>	  
	
	<div class="admin-parcels" style="flex-grow: 8">
			<!-- either parcel creation or list of parcels -->
			<div>
				<table class="parcel-table" id="parcels_output">
				</table>	
			</div>
			
	<!-- Modal content -->
	<div id="myModal" class="modal">
	<div class="modal-content">
	  <div class="modal-header">
		<br>
		<span class="close">&times;</span>
	  </div>
	  <div class="modal-body" id="modal-body">
		<p>Update</p>
	  </div>
	  <div class="modal-footer">
	  <br>
	  </div>
	</div>
	</div>
	
</body>

</html>